@model HomeVM
@* @Html.Partial("_Carousel") *@


@{
    ViewData["Title"] = "Home Page";
    var culture = new System.Globalization.CultureInfo("sd-Deva-NP"); // Use "en-US" for USD
}


<div class="banner_section layout_padding mb-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h1  class="banner_title text-uppercase text-dark opacity-75 mb-4">Welcome to Kurlstop!</h1>
                <p class="banner_text">
                    At Kurlstop, we understand the unique journey of discovering and embracing your natural hair. Growing up in a Nepali household, our founder faced challenges with her hair. Like many young women, she struggled with straighteners, longing for sleek, straight locks that she believed were the ideal as everyone around her did.
                </p>
                <p class="banner_text">
                    However, her journey of self-discovery led her to embrace her natural curls, realizing that true beauty lies in authenticity. Kurlstop aims to empower young women to love and care for their natural hair. Whether your hair is curly, straight, or somewhere in between, we're here to provide products and support to help you feel confident and beautiful.
                </p>
                <p class="banner_text">
                    Discover the joy of embracing your natural beauty with Kurlstop. Because every curl and wave deserves to be cherished and nourished, helping you shine with confidence every day.
                </p>
            </div>
            <div class="col-md-4 text-center">
                <img src="@Url.Content("~/images/founder.png")" alt="Founder" class="img-fluid" style="max-width: 80%; border-radius: 8px;">
            </div>
        </div>
    </div>
</div>


<div id="shopify-section-homepage-shop-category-section" class="shopify-section">
    <section id="homepage-before-after" class="hm-category-section mb-4">
        <div class="container-fluid">
            <div class="row">
                <div class="row">
                    <div class="col-12 text-center mb-4 mt-4">
                        <h2 class="section-title text-uppercase text-dark opacity-75">Shop By Category</h2>
                    </div>
                </div>
            </div>
            <div class="row g-0 position-relative">
                <div class="best-selling-product-hm col-6 col-md text-center">
                    <div class="product-outer">
                        <a asp-controller="Home"  asp-action="Products" asp-route-categoryId="1">
                            <img src="//fixmycurls.com/cdn/shop/files/Group_239_800x.png?v=1729873286"
                                 alt="Shampoos & Conditioners"
                                 class="hm-page-category">
                        </a>
                    </div>
                </div>
                <div class="best-selling-product-hm col-6 col-md text-center">
                    <div class="product-outer">
                        <a asp-controller="Home" asp-action="Products" asp-route-categoryId="2">
                            <img src="//fixmycurls.com/cdn/shop/files/Group_240_800x.png?v=1729873286"
                                 alt="Style Post Wash"
                                 class="hm-page-category">
                        </a>
                    </div>
                </div>
                <div class="best-selling-product-hm col-6 col-md text-center">
                    <div class="product-outer">
                        <a asp-controller="Home" asp-action="Products" asp-route-categoryId="10">
                            <img src="//fixmycurls.com/cdn/shop/files/Group_242_800x.png?v=1729873286"
                                 alt="Bundles"
                                 class="hm-page-category">
                        </a>
                    </div>
                </div>
                <div class="best-selling-product-hm col-6 col-md text-center">
                    <div class="product-outer">
                        <a asp-controller="Home" asp-action="Products" asp-route-categoryId="8">
                            <img src="//fixmycurls.com/cdn/shop/files/Group_244_800x.png?v=1729873286"
                                 alt="Accessories"
                                 class="hm-page-category">
                        </a>
                    </div>
                </div>
                <div class="best-selling-product-hm col-6 col-md text-center">
                    <div class="product-outer">
                        <a asp-controller="Home" asp-action="Products" asp-route-categoryId="9">
                            <img src="//fixmycurls.com/cdn/shop/files/Group_245_800x.png?v=1729873286"
                                 alt="Hair Mists"
                                 class="hm-page-category">
                        </a>
                    </div>
                </div>
                <div class="best-selling-product-hm col-6 col-md text-center">
                    <div class="product-outer">
                        <a asp-controller="Home" asp-action="Products" asp-route-categoryId="3">
                            <img src="//fixmycurls.com/cdn/shop/files/Group_243_800x.png?v=1729873286"
                                 alt="Hair Masks"
                                 class="hm-page-category">
                        </a>
                    </div>
                </div>
            </div>
        </div>
 
    </section>
@*     <div class="row text-center">
        <div class="text-center mt-0 mb-4">
            <a asp-controller="Home" asp-action="Products" class="btn btn-success text-white px-4 py-2 fs-5 fw-bold">
                Shop All
            </a>
        </div>
    </div> *@
</div>
<div class="container mb-4">
    <!-- Section Title -->
    <div class="row">
        <div class="col-12 text-center mb-4 mt-4">
            <h2 class="section-title text-uppercase text-dark opacity-75">Our Products</h2>
        </div>
    </div>

    <div class="row pb-3">
        @foreach(var product in Model.Products.Take(4))
        {
            <div class="col-lg-3 col-sm-6">
                <div class="row p-2 mb-4">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                        <img src="@product.ImageUrl" class="card-img-top rounded"/>
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75  text-center">@product.Title</p>
                                <p class="card-title text-warning text-center"> <b>@product.Category.Name</b></p>

                            </div>
                            <div class="mb-2">
                                <p class="text-dark text-opacity-75 text-center mb-0">
                                    <span class="text-decoration-line-through">
                                        @product.ListPrice.ToString("C", culture)
                                    </span>
                                </p>
                                <p class="text-dark text-opacity-75 text-center mb-0 ">

                                    <span>
                                        @product.Price.ToString("C", culture)
                                    </span>
                                </p>
                            </div>
                            @*   <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center mb-0">
                                    List Price:
                                    <span class="text-decoration-line-through">
                                        @product.ListPrice.ToString("c")
                                    </span>
                                </p>
                            </div>
                        <div class="pl-1">
                            <p class="text-dark text-opacity-75 text-center mb-0">
                                As Low as:
                                <span>
                                    @product.Price100.ToString("c")
                                </span>
                            </p>
                        </div> *@
                        </div>
                        <div>
                            <a asp-action="Details"
                            asp-route-productId="@product.Id"
                            class="btn btn-primary bg-warning border-0 form-control">
                                Details
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        }
    </div>
    <!-- "Shop More" Button -->
    <div class="text-center mt-0 mb-4">
        <a asp-controller="Home" asp-action="Products" class="btn btn-success text-white px-4 py-2 fs-5 fw-bold">
            Shop More
        </a>
    </div>
    <!-- services section start -->
    <div class="services_section py-5 bg-light mb-4">
        <div class="container">
            <div class="row text-center mb-5">
                <div class="col-md-12">
                    <h1 class="services_taital text-uppercase text-dark opacity-75">Our Kurlstop Services</h1>
                    <p class="services_text text-muted fs-5">Your go-to platform for premium natural hair care products, designed to empower your hair journey</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="services_box bg-white p-4 shadow-sm rounded">
                        <div class="icon_img text-center mb-3">
                            <img src="images/icon/shopping-cart.png" alt="Shop Icon" class="img-fluid" style="max-width: 60px;">
                        </div>
                        <h5 class="tasty_text text-center fw-bold mb-3">Wide Range of Products</h5>
                        <p class="lorem_text text-muted text-center">Discover a curated selection of high-quality hair care products tailored for all hair types, from curls to waves and everything in between.</p>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="services_box bg-white p-4 shadow-sm rounded">
                        <div class="icon_img text-center mb-3">
                            <img src="images/icon/fast-delivery.png" alt="Delivery Icon" class="img-fluid" style="max-width: 60px;">
                        </div>
                        <h5 class="tasty_text text-center fw-bold mb-3">Fast & Reliable Delivery</h5>
                        <p class="lorem_text text-muted text-center">Enjoy quick and hassle-free delivery to your doorstep, ensuring your favorite products are always within reach.</p>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="services_box bg-white p-4 shadow-sm rounded">
                        <div class="icon_img text-center mb-3">
                            <img src="images/icon/24-hours.png" alt="Support Icon" class="img-fluid" style="max-width: 60px;">
                        </div>
                        <h5 class="tasty_text text-center fw-bold mb-3">Excellent Customer Support</h5>
                        <p class="lorem_text text-muted text-center">Our dedicated support team is here to assist you with any questions, making your shopping experience seamless and enjoyable.</p>
                    </div>
                </div>
            </div>
            @*   <div class="text-center mt-4">
                <a asp-controller="Home" asp-action="Products" class="btn btn-success text-white px-4 py-2 fs-5 fw-bold">
                    Shop Now
                </a>
            </div> *@
        </div>
    </div>
    <!-- services section end -->

    <div class="container blog-section">
        <div class="row">
            <div class="col-12 text-center mb-4 mt-2">
                <h2 class="section-title text-uppercase text-dark opacity-75">Blog Post</h2>
            </div>
        </div>
        <div class="row">
            @if (Model?.Blogs != null && Model.Blogs.Any())
            {
                @foreach (var blog in Model.Blogs)
                {
                    <div class="col-md-4">
                        <div class="blog-card">
                            <img src="@blog.BlogImage" alt="Blog Image" class="blog-image">
                            <div class="blog-card-body">
                                <h5 class="blog-card-title">@blog.Title</h5>
                                <p class="blog-card-text">@blog.Description</p>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>No blog posts available.</p>
            }
        </div>
    </div>


    <!-- Testimonial Section start -->

<div class="testimonial_section layout_padding mb-2">
    <div class="container">
        <div class="row">
                <div class="col-md-12  text-center mb-2 ">
                    <h1 class=" text-dark opacity-75 mb-4">What Our Customers Say</h1>
            </div>
        </div>
        <div class="testimonial_section_2">
            <div class="row">
                <div class="col-md-12">
                    <div class="testimonial_box">
                        <div id="main_slider" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                    @foreach (var testimonial in Model.Testimonials)
                                    {
                                        <div class="carousel-item @(Model.Testimonials.First() == testimonial ? "active" : "")">
                                            <p class="testimonial_text">@testimonial.Message</p>
                                            <h4 class="client_name">@testimonial.ClientName</h4>
                                            <div class="client_img">
                                                <img src="@testimonial.ClientImage" alt="@testimonial.ClientName">
                                            </div>
                                        </div>
                                    }
                                </div>
                            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Testimonial Section End -->

<!-- Extra Info Section Start -->
<section id="extra-info" class="kurlstop-faq">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                DELIVERY
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul>
                                    <li>When will my order ship?</li>
                                    <p>Orders ship within 24-48 hours, with delivery taking 2-3 working days based on your location.</p>
                                    <li>How fast is Free Shipping?</li>
                                    <p>Shipping takes approximately 2-3 working days depending on location.</p>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                PAYMENT
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul>
                                    <li>What forms of payment do you accept?</li>
                                    <p>We accept E-Sewa, cards, Mobile Banking, Khalti</p>
                                    <li>What if my payment is deducted but I don’t receive a confirmation?</li>
                                    <p>Please contact us at customercare@kurlstop.com with a payment screenshot for assistance.</p>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                SHIPPING
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul>
                                    <li>Do you ship All Over Nepal?</li>
                                    <p>Yes! Our exports team calculates shipping costs based on your order’s weight and dimensions.</p>
                                    <li>How can I update or cancel my order?</li>
                                    <p>Orders can be canceled before dispatch. Email us at contact@kurlstop.com for assistance.</p>
                                    <li>What if I receive a damaged product?</li>
                                    <p>Email us at contact@kurlstop.com within 24 hours, and we will resolve the issue promptly.</p>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Extra Info Section End -->
<script>
  function webengageOnReady(cb) {
    if (typeof webengage === "undefined" || typeof webengage.onReady !== "function") {
      setTimeout(function () {
        webengageOnReady(cb);
      }, 100);
    } else {
      webengage.onReady(cb);
    }
  }
  
  webengageOnReady(function () {
    document.querySelectorAll('#homepage-before-after a').forEach(function (category) {
      category.addEventListener('click', function () {
        webengage.track("Category Clicked", {
          "Category URL": category.getAttribute('href')
        });
      });
    });
  });
</script>
